/*initial big title section*/
#title {
    overflow: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 8vw;
    transform: scale(1.05,1);
    font-weight: 900;
    color: white;
    padding-bottom: 30px;
    z-index: 1;
}

#starting {
    overflow: hidden;
    height:100vh;
    width:100vw;
    background-color: rgb(233,231,157);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spacing {
    height: 20px;
}

#explanation {
    overflow: hidden;
    height:100vh;
    width:100vw;
    z-index: 2;
    background-color:rgb(18,17,22);
}

#title-pt1-1 {
    position: relative;
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 300;
    color: rgb(233,231,157);
    z-index: 4;
    opacity: 0;
}

#title-pt2-1 {
    position: relative;
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 300;
    color: rgb(233,231,157);
    z-index: 5;
    opacity: 0;
}

#title-pt1-2 {
    position: relative;
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 300;
    color: white;
    z-index: 5;
    opacity: 0;
}

#title-pt2-2 {
    position: relative;
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 300;
    color: white;
    z-index: 5;
    opacity: 0;
}

#title-for {
    position: relative;
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 300;
    color: white;
    z-index: 5;
    opacity: 0;
}



/*cover section*/
#cover {
    overflow: hidden;
    height:100vh;
    width:100vw;
    z-index: 2;
    background-color:rgb(18,17,22);
}

#album-cover {
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11000px;
    height: 11000px;
}

#summary-1 {
    position: relative;
    margin-top: 50vh;
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 300;
    color: white;
    z-index: 6;
    opacity: 0;
    text-align: center;
}

#summary-2 {
    position: relative;
    padding-top: 200px;
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 800;
    color: rgb(18,17,22);
    z-index: 7;
    opacity: 0;
    text-align: center;
}



/*music videos*/
#mvs {
    overflow: hidden;
    height:100vh;
    width:100vw;
}

.musicvideos {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.mvplacing {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}

.songname {
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
}



/*mv description section*/
#mv-description {
    overflow: hidden;
    height: 280vh;
    width:100vw;
    background-color:rgb(233,231,157);
}

#mv-summary {
    position: relative;
    margin-top: 50vh;
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 500;
    color: rgb(18,17,22);
    opacity: 0;
    text-align: center;
}

.song-names {
    position: relative;
    margin-top: 70px;
    font-size: calc(20px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 300;
    color: rgb(18,17,22);
    opacity: 0;
    text-align: center;
}

#mv-song-vr.song-names{
    font-weight: 500;
    margin-top: 300px;
}

#song-vr-1.song-names{
    font-weight: 800;
    margin-top: 300px;
}
#song-vr-2.song-names{
    font-weight: 800;
    font-size: calc(20px + 0.8vw);
    margin-top: 0px;
}



/*remix series section*/
#remix-series {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color:rgb(233,231,157);
}

.remix-covers {
    width: 25vh;
}

.remix-grids {
    display: grid;
    position: relative;
    grid-column-gap: 0px;
    grid-template-columns: repeat(11, 25vh);
}

#remix-1 {
    right: 54vh;
}

#remix-2 {
    right: 13vh;
}

#remix-3 {
    right: 68vh;
}

#remix-4 {
    right: 10vh;
}

#remix-series-text {
    position: relative;
    top: -78vh;
    font-size: calc(26px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    transform: scale(1.05,1);
    font-weight: 800;
    color: rgb(18,17,22);
    opacity: 0;
    text-align: center;
    z-index: 3;
}



/*final section*/
#final {
    overflow: hidden;
    height:220vh;
    width:100vw;
    z-index: 2;
    background-color:rgb(233,231,157);
}

.lyrics {
    font-size: calc(26px + 0.8vw);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    transform: scale(1.05,1);
    color: rgb(18,17,22);
    text-align: center;
    position: relative;
    margin-top: 45vh;
    opacity: 0;
}

#line-2 {
    margin-top: 0;   
}

b {
    font-weight: 800;
}

#quote {
    font-size: calc(13px + 0.4vw);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    transform: scale(1.05,1);
    color: rgb(18,17,22);
    text-align: center;
    position: relative;
    margin-top: 10vh;
    opacity: 0;
}

#vulnicura-logo {
    position: relative;
    margin-top: 80vh;
    width: 40vw;
    left: 30vw;
}

#appre {
    font-size: calc(13px + 0.4vw);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    transform: scale(1.05,1);
    color: rgb(233,231,157);
    text-align: center;
    position: relative;
    margin-top: 10vh;
}